import { Component, OnInit } from '@angular/core';

@Component({
  selector: 'web-app-<%= dasherize(name) %>-details',
  templateUrl: './<%= dasherize(name) %>-details.component.html',
  styleUrls: ['./<%= dasherize(name) %>-details.component.scss']
})
export class <%= classify(name) %>DetailsComponent implements OnInit {

  constructor() { }

  ngOnInit() {
  }

}
