import { Module } from '@nestjs/common';
import { BackendDataAccessDatabaseModule } from '@database';
import { <%=classify(name)%>Controller } from './<%=dasherize(name)%>.controller';
import { <%=classify(name)%>Service } from './<%=dasherize(name)%>.service';

@Module({
  imports: [
    BackendDataAccessDatabaseModule,
  ],
  providers: [<%=classify(name)%>Service],
  controllers: [<%=classify(name)%>Controller]
})
export class BackendFeature<%=classify(name)%>Module { }
